<body>
    <main id="error-page" class="main-grid">
        <section id="error-message">
            <h1><span>//</span> THAT'S A 404 FOLKS</h1>
            <h3>We're sorry, something must have gone wrong on our end!</h3>
        </br>
            <h3><a class="external-link" href="index.html">Home Page</a></h3>
        </section>
    </main>
</body>