<body id="home">
        <main id="news-article-1-page" class="main-grid">
            <section id="full-article">
                <h1><span>//</span>{{article_title}}</h1>
                {{#each body}}
                    <p>{{paragraph}}</p>
                    <img src="{{image.filename}}"
                {{/each}}
            </section>
        </main>
    </body>